<div class="card" *ngFor="let produto of produto | async">
  <div class="card-body">
    <h5 class="card-title">ID: {{produto.id}}</h5>
    <p class="card-text">Produto: {{produto.nome}}</p>
    <p class="card-text">Qtd: {{produto.qtd}}</p>
  </div>
  <div class="card-footer">
    <button mat-raised-button type="button" class="btn btn-default" (click)="edit(produto, produto.key)">Editar</button>
    <button mat-raised-button color="warn" type="button" class="btn btn-danger ml-2" (click)="delete(produto.key)">Excluir</button>
  </div>
</div>